.departure {
    background-color: #123a9fab;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    color: white;
    font-size: 1.5rem;

    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr 2fr 2fr 4fr 1fr;
        font-size: 1.2rem;
    }

    @media screen and (max-width: 750px) {
        font-size: 1rem;
    }

    &--light {
        background-color: #0365F4ab;
    }

    &__operator {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    &__train-type {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        font-size: 0.8rem;

        @media screen and (max-width: 750px) {
            font-size: 0.6rem;
        }
    }

    &__train-number {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
        font-size: 0.8rem;

        @media screen and (max-width: 750px) {
            font-size: 0.6rem;
        }
    }

    &__time {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        color: #E1E929;
        font-weight: 700;

        &--disappear {
            display: none;
        }
    }

    &__delay {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        font-size: 1.2rem;

        @media screen and (max-width: 750px) {
            font-size: 1rem;
        }

        &--disappear {
            display: none;
        }
    }

    &__destination {
        grid-column-start: 4;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 2;
        font-weight: 700;
    }

    &__stops {
        white-space: nowrap;
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: span 1;
        overflow: hidden;

        li {
            margin-right: 0.5rem;
            font-size: 1.2rem;

            @media screen and (max-width: 750px) {
                font-size: 1rem;
            }

            img {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-left: 0.5rem;
            }
        }
    }
}